<nav id="navbar" class="">
        <div class="nav-wrapper">
            <!-- Navbar Logo -->
            <div class="logo">
                <img id="xxxx" src="../assets/pictures/XXX.png" alt="SMAHT!">
                <a class = "logoAndFont" href="#home">Verigate</a>
            </div>

            <!-- Navbar Links -->
            <ul id="menu">
                <li><a href="#home">Home</a></li>
                <!--
   -->
                <li><a href="#services">Services</a></li>
                <!--
   -->
                <li><a href="#about">About</a></li>
                <!--
   -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>