<h1>This is our index.handlebars file</h1>

<ul>
    {{#each usersGates}}

        <li>
            User: {{name}} <br>
            <button>{{unit_location}}</button>
            ( Switch Status: {{switch}} )
        </li>

    {{/each}}
</ul>