<body>
    {{> nav }}


    <!-- Menu Icon -->
    <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
        <ul id="menu">
            <li><a href="/application/?">Home</a></li>
            <li><a href="/devices">Devices</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/sign-out">Sign Out</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="greeterMain">About Us</h1>


        </div>
    </div>
</body>