<body>
    <nav id="navbar" class="">
        <div class="nav-wrapper">
            <!-- Navbar Logo -->
            <div class="logo">
                <img id="xxxx" src="assets/pictures/XXX.png" alt="SMAHT!">
                <a href="#home">Verigate</a>
            </div>

            <!-- Navbar Links -->
            <ul id="menu">
                <li><a href="#home">Home</a></li>
                <!--
   -->
                <li><a href="#services">Services</a></li>
                <!--
   -->
                <li><a href="#about">About</a></li>
                <!--
   -->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>


    <!-- Menu Icon -->
    <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
    </div>


    <div class="overlay-menu">
        <ul id="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <br>
    <br>
    <h1>This is our index.handlebars file</h1>

    <ul>
        {{#each usersGates}}

        <li>
            User: {{name}} <br>
            <button>{{unit_location}}</button>
            ( Switch Status: {{switch}} )
        </li>

        {{/each}}
    </ul>

</body>